.lnk {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
}
.lnk:hover {
    color: rgb(255, 180, 180);
    text-decoration: underline;
}

.btnStyle {
    background-color: red;
    border: 2px solid red;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
.btnStyle:hover {
    background-color: rgb(75, 11, 11);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4);
}
.btnStyle {
    background-color: red;
    border: 2px solid red;
    transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}
.btnStyle:hover {
    background-color: rgb(75, 11, 11);
    border-color: rgb(50, 5, 5);
}
